.face {
    justify-content: center;
    display: flex;
    padding-top: 200px;
}
.eye {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: azure;
}
.ball {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #737d8b;
}
.spacer {
    width: 50px;
}