.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;
}
.inputs label {
    margin-bottom: 10px;
}
.inputs input {
    background-color: #333333;
    color: azure;
    margin-bottom: 5px;
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 2px;
}
#register-button {
    position: relative;
}
#register-button::before,
#register-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: azure;
    width: 0;
    transition: width 0.3s ease;
}
#register-button::before {
    left: 0px;
}
#register-button::after {
    right: 0px;
}
#register-button:hover::before,
#register-button:hover::after {
    width: 150px;
}
#register-button:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}
#login-suggest {
    color: #007bff;
    font-size: 10px;
    text-decoration: none;
}

.spacer {
    margin-top: 100px;
}

.loader {
    border: 16px solid #000000;
    border-top: 16px solid azure;
    border-bottom: 16px solid azure;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.5s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}